h1 {
	font-family: Raleway;
	margin-left: 1.66%;
}

h2 {
	font-family: Raleway;
	margin-left: 1.66%;
  margin-right: 1.66%;
}

h3 {
	font-family: Raleway;
	margin-left: 1.66%;
  margin-right: 1.66%;
}

p {
  font-family: Raleway;
	margin-left: 1.66%;
  margin-right: 1.66%;
}

ol {
  font-family: Raleway;
	margin-left: 1.66%;
  margin-right: 1.66%;
}
