* {
    margin: 0
    padding: 0
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #5e60ce, #6930c3);
    padding: 0 !important;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 30px !important;
    font-weight: 600;
    padding-left: 10px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #ffffff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: #ffffff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #ffffff;
    padding-top: 5%;
}

.context {
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.milestone-name {
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
}

.part-name {
    font-size: 20px;
    font-weight: 600;
    color: #a517ba;
}

.section-name {
    font-size: 20px;
    font-weight: 400;
    color: #5e60ce;
}

.content {
    color: rgb(80, 77, 77);
}

iframe {
    width: 520px;
    height: 315px;
    border: none;
    border-radius: 15px;
}

.intro-image {
    width: 520px;
    height: 315px;
    border: none;
    border-radius: 15px;
}

.mockup-image {
    width: 75%;
    border: none;
    padding-bottom: 15px;
    border-radius: 15px;
}

.high-fid-mockup-image {
    width: 40%;
    border: none;
    padding-bottom: 15px;
    border-radius: 15px;
}

.prototype-image {
    width: 70%;
    border: none;
    padding-bottom: 15px;
}